@using Nop.Plugin.LaSoTuVi.TuViSerives.Data
@using Nop.Plugin.LaSoTuVi.Models.LaSoTuVi

@model LaSo
@{
    ViewBag.Title = "Tử Vi Tân Nam";
}
<!-- Portfolio Item Heading -->
<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-7" id="laplaso-content">
        @*@{ Html.RenderPartial("_LapLaSoForm", new CreateLaSoDuongLichModel());}*@
        <partial name="_LapLaSoForm" model="new CreateLaSoDuongLichModel()"  />
    </div>
    <div class="col-md-5">
        <h1 class="my-2 h5">
            Tân nam kính hữu!
        </h1>

        <div>
            <button name="download-laso" class="btn btn-sm btn-success btn-inline">Tải lá số về </button>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default btn-inline">Trở về lập lá số khác </a> 
        </div>
    </div>
</div>
<!-- /.row -->
<br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<script>
    $(document).ready(function () {
        $("button[name='download-laso']").on("click", function () {
            @*html2canvas(document.querySelector('#table-tuvi')).then(function (canvas) {
                console.log(canvas);
                saveAs(canvas.toDataURL(), "lstv-" + $(document).find("#table-tuvi-info #Ten").text() + '-@(Model.NamXemHan)-tuvitannam.png');
            });*@
            domtoimage.toJpeg(document.getElementById('table-tuvi'), { quality: 1 })
                .then(function (dataUrl) {
                    var link = document.createElement('a');
                    link.download = "lstv-" + $(document).find("#table-tuvi-info #Ten").text().replace(/ /g, '-') + '-@(Model.NamXemHan)-tuvitannam.png';
                    link.href = dataUrl;
                    link.click();
                });
        });
        $(document).on("click", "#form-laplaso button[name='submit']",function () {
            $.ajax({
                url: '@Url.Action("LapLaSo")',
                type: 'POST',
                data: $(document).find("#form-laplaso").serialize()
            }).done(function (rs) {
                if (rs.Status) {
                    $("#laplaso-content").empty().append(rs.Data);
                }
            });
        })
    });
</script>